* {
    box-sizing: border-box;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 30px;
}

.buttons-container {
    width: 220px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.picked-color-label {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.btn {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 6px 24px;
    background-color: hsl(318, 54%, 34%);
    color: white;
    border-radius: 6px;
    border: none;
}

.btn:hover {
    background-color: hsl(318, 54%, 25%);
}

.btn:active {
    background-color: hsl(318, 54%, 34%);
}

.btn-clicked {
    background-color: hsl(318, 54%, 25%);
}

.grid-size-btn {
    padding: 6px 24px;
    background-color: hsl(318, 54%, 34%);
    color: white;
    border-radius: 6px;
    border: none;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    height: 900px;
    width: 900px;
    border: 2px solid black;
}

.grid-square {
    flex-grow: 1;
    background-color: white;
}